.wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url(background2.jpg);*/
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.profile-box {
  margin-right: 0px;
  width: 1100px;
  height: 440px;
  display: flex;
  background: #ffd8ca;
  background-image: url(images/profile-image-box.jpg);
  border-radius: 15px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 10px;
  clip-path: polygon(0 0, 0% 0%, 28.6% 0%, 56.3% 100%, 0% 100%);
  transition: transform 0.3s;
}

.profile-box:hover {
  transform: translateY(-5px);
}

.profile-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture-container {
  width: 330px;
  height: 350px;
  margin-left: -650px;
  border-radius: 50%;
  border: 10px solid black;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.achievements {
  margin-right: 650px;
  margin-bottom: 10px;
}
.achievements strong {
  color: white;
}

.profile-info-box {
  height: 476px;
  width: 800px;
  border-radius: 15px;
  background-color: #1d1b1b;
  margin-top: -495px;
  margin-left: 298px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 0% -5%);
  transition: transform 0.3s;
}

.profile-info-box:hover {
  transform: translateY(5px);
}

.inclined-line {
  margin-left: -630px;
  width: 1300px; /* Length of the line */
  height: 5px; /* Thickness of the line */
  background-color: red; /* Line color */
  transform: rotate(57.4deg); /* Adjust angle as needed */
}

.profile-info-box h1 {
  color: #ffc107;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 150px;
}

.basic-info strong {
  color: #ffc107;
}

.basic-info p {
  color: rgb(137, 133, 133);
}

.basic-info-item1 {
  margin-left: 280px;
  padding: 12px;
  font-size: 25px;
}

.basic-info-item2 {
  margin-left: 320px;
  padding: 12px;
  font-size: 25px;
}

.basic-info-item3 {
  margin-left: 370px;
  padding: 12px;
  font-size: 25px;
}

.basic-info-item4 {
  margin-left: 410px;
  padding: 12px;
  font-size: 25px;
}

.decorative img {
  width: 800px;
  height: 330px;
  margin-left: 250px;
  margin-top: -155px;
}

.skill-box {
  width: 1100px;
  height: 290px;
  display: flex;
  background: #fad346;
  border-radius: 15px;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.skill-box-topic {
  height: 70px;
  width: 100px;
  margin-left: 400px;
}

.skill-box-topic h2 {
  color: black;
  font-size: 40px;
  margin-top: 10px;
}

.skill-section {
  margin-top: 50px;
  margin-left: -470px;
}

.skill-poll {
  height: 6px;
  width: 900px;
  background: rgb(184, 179, 179);
  border-radius: 5px;
  overflow: hidden;
}

.skill-poll-fill {
  height: 100%;
  background: black;
}

.skills {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: rgb(123, 118, 118);
}

.skills label {
  font-size: 20px;
}

.bio-box {
  width: 1100px;
  height: 227px;
  margin-top: 0;
  background: #fbd036;
  border-radius: 15px;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.bio-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.bio-box h3 {
  color: black;
  font-size: 45px;
  margin-top: 10px;
  margin-left: 520px;
  margin-bottom: 5px;
}

.bio-box hr {
  border: none;
  height: 5px;
  background-color: black;
}

.bio-box p {
  color: rgb(123, 118, 118);
  max-width: 1050px;
  padding: 30px;
  display: inline-block;
}

.goals-box {
  width: 1080px;
  height: 250px;
  background-color: #fecd1b;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.goals-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.goals-icon {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goals-icon img {
  width: 82%;
  height: 82%;
  border-radius: 50%;
}

.goals-box h4 {
  color: black;
  font-size: 35px;
  margin-left: 85px;
  margin-top: -62px;
  margin-bottom: 15px;
}

.goals-box hr {
  margin-left: 33px;
  margin-top: -11.65px;
  margin-right: -10px;
  border: none;
  height: 6px;
  background-color: black;
}

.goals-list {
  margin-left: 20px;
  margin-top: 0px;
  display: flex;
  gap: 10px;
  max-width: 600px;
}

.column {
  list-style: none;
  flex: 1;
  min-width: 470px;
  word-break: break-word;
}

.column li {
  margin: 30px 0px;
  color: black;
  font-size: 25px;
  font-weight: 800;
}

.column p {
  display: inline-block;
  color: rgb(123, 118, 118);
  font-size: 20px;
  font-weight: 500;
}

.fustrations-box {
  width: 1080px;
  height: 200px;
  background-color: #fcc728;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.fustrations-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.fustrations-icon {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fustrations-icon img {
  width: 82%;
  height: 82%;
  border-radius: 50%;
}

.fustrations-box h5 {
  color: black;
  font-size: 30px;
  margin-left: 85px;
  margin-top: -55px;
  margin-bottom: 15px;
}

.fustrations-box hr {
  margin-left: 33px;
  margin-top: -11.65px;
  margin-right: -10px;
  border: none;
  height: 6px;
  background-color: black;
}

.fustrations-list {
  margin-left: 40px;
  margin-top: -5px;
  display: flex;
  gap: 40px;
  max-width: 600px;
}

.column1 {
  list-style: disc;
  flex: 1;
  min-width: 200px;
  word-break: break-word;
}

.column1 li {
  margin: 30px 0px;
  color: rgb(123, 118, 118);
  font-size: 20px;
}

.UN-goals-box {
  width: 1080px;
  height: 210px;
  background-color: #fbc219;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.UN-goals-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.UN-goals-icon {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UN-goals-icon img {
  width: 82%;
  height: 82%;
  border-radius: 50%;
}

.UN-goals-box h6 {
  color: black;
  font-size: 30px;
  margin-left: 85px;
  margin-top: -55px;
  margin-bottom: 15px;
}

.UN-goals-box hr {
  margin-left: 33px;
  margin-top: -11.65px;
  margin-right: -10px;
  border: none;
  height: 6px;
  background-color: black;
}

.UN-goals-list {
  margin-top: 15px;
  list-style: none; /*Removes default bullets */
  display: flex; /* Align items in a row */
  gap: 125px;
  padding: 0; /* Removes defalt padding */
  justify-content: center; /* Centers items horizontally */
}

.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UN-goals-image-container {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background-color: azure;
  border: 3px solid black;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.UN-goals-image-container:hover {
  transform: translateY(-5px); /* Slight lift effect */
}

.UN-goals-image-container img {
  width: 100px;
  height: 100px;
  border-radius: 13px;
}

.hover-description {
  position: absolute;
  top: 90%; /* Position below the card */
  width: 200px;
  margin-left: -60px;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  color: white;
  padding: 5px;
  border-radius: 10px 10px 10px 10px; /* Rounded corners at the bottom */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
  pointer-events: none; /* Prevents the text box from interfering with hover */
  text-align: justify;
}

.UN-goals-image-container:hover .hover-description {
  opacity: 1; /* Make it visible */
}

.calendar-box {
  width: 1050px;
  height: 700px;
  border-radius: 15px;
  padding: 20px;
  background-color: #fcc10e;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.calendar-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 40px 15px rgba(76, 71, 71, 0.3);
}

h6 {
  font-size: 50px;
  margin-top: 0px;
}

#calendar-hr {
  margin-top: 10px; /* Add space above the line */
  width: 100%;
  height: 6px; /* Define the thickness of the line */
  border: none;
  background-color: black;
  flex-shrink: 0;
}

.calendar {
  margin-top: 20px;
  width: 1000px;
  height: 550px;
  border-radius: 15px;
  padding: 20px;
  background-color: white;
  justify-content: center;
  display: flex;
}

.month-year {
  font-size: 40px;
  font-weight: 500;
  margin-left: 400px;
}

.calendar table {
  margin-left: -620px;
  margin-top: 50px;
  width: 1000px;
  height: 480px;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calendar th,
td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 15px;
}

.calendar th {
  height: 30px;
  background-color: #4caf50;
  color: white;
}

.calendar td {
  height: 50px;
}

.empty {
  background-color: #eee;
}

.calendar td p {
  margin-right: -70px;
}

.sheduled {
  background-color: #fccc3d;
}

.contact-box {
  width: 730px;
  height: 320px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-box table {
  width: 730px;
  height: 320px;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid #fbc219;
  border-radius: 10px;
  overflow: hidden;
}

.contact-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 40px 15px rgba(76, 71, 71, 0.3);
}

.contact-box th,
td {
  border: 1px solid #fbc219;
  padding: 5px;
  text-align: left;
}

#table-topic th {
  background-color: #f7e9c0;
  font-weight: bold;
  padding: 20px;
}

.contact-links {
  color: blue;
  text-decoration: none;
}

.contact-me-box {
  width: 700px;
  height: 305px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-me-box fieldset {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 700px;
  height: 305px;
  border-radius: 15px;
  background-color: #ffc30d;
  border-color: #ffc30d;
}

.contact-me-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 40px 15px rgba(76, 71, 71, 0.3);
}

.contact-me-box p {
  margin-left: 12%;
  margin-bottom: -4%;
  font-size: 30px;
}

#contact-name {
  border-radius: 15px;
  height: 25px;
  margin-left: 40px;
  padding-left: 10px;
}

#contact-email {
  border-radius: 15px;
  height: 25px;
  margin-left: 40px;
  padding-left: 10px;
}

#contact-message {
  border-radius: 15px;
  margin-left: 40px;
  padding-left: 10px;
}

.contact-me-mini {
  margin-left: 40px;
}

#submit-button {
  border-radius: 15px;
  width: 70px;
  height: 30px;
  margin-left: 20px;
  background-color: #1d1b1b;
  color: #ffc30d;
}
/**/
