.wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url(background2.jpg);*/
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.profile-box {
  margin-right: 0px;
  width: 1100px;
  height: 340px;
  display: flex;
  background: #ffd8ca;
  border-radius: 15px;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 10px;
  clip-path: polygon(0 0, 0% 0%, 28.6% 0%, 56.3% 100%, 0% 100%);
  transition: transform 0.3s;
}

.profile-box:hover {
  transform: translateY(-5px);
}

.profile-card {
  text-align: center;
}

.profile-picture-container{
  width: 270px;
  height: 270px;
  margin-left: -30px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.achievements {
  margin-right: 700px ;
  margin-bottom: 10px;
}
.achievements strong{
  color: black;
}

.profile-info-box{
  height: 376px;
  width: 800px;
  border-radius: 15px;
  background-color: aqua;
  margin-top: -395px;
  margin-left: 300px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 0% -5%);
  transition: transform 0.3s;
}

.profile-info-box:hover {
  transform: translateY(5px);
}

.inclined-line {
  margin-left: -470px;
  width: 980px; /* Length of the line */
  height: 5px; /* Thickness of the line */
  background-color: red; /* Line color */
  transform: rotate(51deg); /* Adjust angle as needed */
}

.profile-info-box h1 {
  color: black;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 150px;
}

.basic-info strong{
  color: black;
}

.basic-info p{
  color: rgb(123, 118, 118);
}

.basic-info-item1 {
  margin-left: 280px;
  padding: 12px;
  font-size: 25px;
}

.basic-info-item2 {
  margin-left: 320px;
  padding: 12px;
  font-size: 25px;
}

.basic-info-item3 {
  margin-left: 370px;
  padding: 12px;
  font-size: 25px;
}

.basic-info-item4 {
  margin-left: 410px;
  padding: 12px;
  font-size: 25px;
}


.skill-box {
  width: 1100px;
  height: 290px;
  display: flex;
  background: #ffd8ca;
  border-radius: 15px;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.skill-box-topic{
  height: 70px;
  width: 100px;
  margin-left: 400px;
}

.skill-box-topic h2 {
  color: black;
  font-size: 40px;
}

.skill-section {
  margin-top: 65px;
  margin-left: -470px;
}

.skill-poll {
  height: 6px;
  width: 900px;
  background: #fff1ea;
  border-radius: 5px;
  overflow: hidden;
}

.skill-poll-fill {
  height: 100%;
  background: #bf0309;
}

.skills {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: rgb(123, 118, 118);
}

.skills label{
  font-size: 20px;
}

.bio-box {
  width: 1100px;
  height: 227px;
  margin-top: 0;
  background: #ffd8ca;
  border-radius: 15px;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.bio-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.bio-box h3 {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 520px;
  margin-bottom: 5px;
}

.bio-box hr {
  border: none;
  height: 3px;
  background-color: #bf0309;
}

.bio-box p {
  color: rgb(123, 118, 118);
  max-width: 1050px;
  padding: 30px;
  display: inline-block;
}

.goals-box {
  width: 1080px;
  height: 250px;
  background-color: #ffd8ca;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.goals-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.goals-icon {
  background-color: #bf0309;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goals-icon img {
  width: 82%;
  height: 82%;
  border-radius: 50%;
}

.goals-box h4 {
  color: black;
  font-size: 35px;
  margin-left: 85px;
  margin-top: -62px;
  margin-bottom: 15px;
}

.goals-box hr {
  margin-left: 33px;
  margin-top: -11.65px;
  margin-right: -10px;
  border: none;
  height: 6px;
  background-color: #bf0309;
}

.goals-list {
  margin-left: 0px;
  margin-top: 0px;
  display: flex;
  gap:120px;
  max-width: 600px;
}

.column {
  list-style: none;
  flex: 1;
  min-width: 360px;
  word-break: break-word;
}

.column li {
  margin: 30px 0px;
  color: black;
  font-size: 25px;
  font-weight: 800;
}

.column p{
  display: inline-block;
  color: rgb(123, 118, 118);
  font-size: 20px;
  font-weight: 500;
}

.fustrations-box {
  width: 1080px;
  height: 200px;
  background-color: #ffd8ca;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.fustrations-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.fustrations-icon {
  background-color: #bf0309;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fustrations-icon img {
  width: 82%;
  height: 82%;
  border-radius: 50%;
}

.fustrations-box h5 {
  color: black;
  font-size: 30px;
  margin-left: 85px;
  margin-top: -55px;
  margin-bottom: 15px;
}

.fustrations-box hr {
  margin-left: 33px;
  margin-top: -11.65px;
  margin-right: -10px;
  border: none;
  height: 6px;
  background-color: #bf0309;
}

.fustrations-list {
  margin-left: 40px;
  margin-top: -5px;
  display: flex;
  gap: 40px;
  max-width: 600px;
}

.column1 {
  list-style: disc;
  flex: 1;
  min-width: 200px;
  word-break: break-word;
}

.column1 li {
  margin: 30px 0px;
  color: rgb(123, 118, 118);
  font-size: 20px;
}

.UN-goals-box {
  width: 1080px;
  height: 210px;
  background-color: #ffd8ca;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.UN-goals-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.UN-goals-icon {
  background-color: #bf0309;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UN-goals-icon img {
  width: 82%;
  height: 82%;
  border-radius: 50%;
}

.UN-goals-box h6 {
  color: black;
  font-size: 30px;
  margin-left: 85px;
  margin-top: -55px;
  margin-bottom: 15px;
}

.UN-goals-box hr {
  margin-left: 33px;
  margin-top: -11.65px;
  margin-right: -10px;
  border: none;
  height: 6px;
  background-color: #bf0309;
}

.alliance {
  display: flex;
  padding: 15px;
  gap: 20px;
}

.alliance img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: azure;
  margin-top: 10px;
  margin-left: 120px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.alliance img:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 40px 15px rgba(252, 252, 252, 0.3);
}


.contact-box{
  width: 350px;
  height: 320px;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 750px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-box table {
  width: 350px;
  height: 320px;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid #bf0309;
  border-radius: 10px;
  overflow: hidden;
}

.contact-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 40px 15px rgba(76, 71, 71, 0.3);
}

.contact-box th,
td {
  border: 1px solid #bf0309;
  padding: 5px;
  text-align: left;
}

#table-topic th {
  background-color: #ffeee8;
  font-weight: bold;
  padding: 20px;
}

.contact-links {
  color: blue;
  text-decoration: none;
}


.contact-me-box{
  width: 700px;
  height: 305px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 370px;
  margin-top: -330px;
  background-color: white;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-me-box fieldset {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 700px;
  height: 305px;
  border-radius: 15px;
  background-color: #ffd8ca;
  border-color: #ffd8ca;
}


.contact-me-box:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 40px 15px rgba(76, 71, 71, 0.3);
}

.contact-me-box p {
  margin-left: 12%;
  margin-bottom: -4%;
  font-size: 30px;
}

#contact-name {
  border-radius: 15px;
  height: 25px;
  margin-left: 40px;
  padding-left: 10px;
}

#contact-email {
  border-radius: 15px;
  height: 25px;
  margin-left: 40px;
  padding-left: 10px;
}

#contact-message {
  border-radius: 15px;
  margin-left: 40px;
  padding-left: 10px;
}

.contact-me-mini {
  margin-left: 40px;
}

#submit-button {
  border-radius: 15px;
  width: 70px;
  height: 30px;
  margin-left: 20px;
  background-color: #bf0309;
  color: #ffd8ca;
}