.wrapper{
    margin: 0;
}

svg{
    border: none;
}

.boxes rect{
    fill: gold;
    rx: 17.5px;
    ry: 17.5px;
    cursor: pointer;
}
.boxes text{
    pointer-events: none;
}

.node:focus{
    outline: 2px solid #171717;
    width: 100%;
    height: 100%;
    border-radius: 15.5px;
}

.node rect:hover,
.node.active rect {
    fill: #3c3c3c;
}

.node:hover text,
.node.active text{
    fill: gold;
}

line{
    stroke: black;
    stroke-width: 2px;
}